
.container{

    margin: 0 14px;

}

.form{
    display: flex;
    width: 100%;
    gap: 24px;
}

.form input{
    width: 100%;
    height: 44px;
    padding: 0 8px;
    border:0;
    border-radius: 4px;
    outline: none;
}

.form button{
    background-color: transparent;
}

table{
    border-collapse: separate;
    border-spacing: 0 14px;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

table caption{
    font-size: 16px;
    margin: 0.5em 0 .75em;
    color:#ffff
}

th{
    color: #ffff;
    background-color:blueviolet;
}

.tr{
    background-color: #1d1c20;
}

td:first-child,
th:first-child{
    border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child{
    border-radius: 0px 8px 8px 0px;
}

table th,
table td{
 padding: 14px;
 text-align: center;
}

.tdlabel{
    font-size: 18px;
    font-weight: bold;
    color: #ffff;
}

.tdProfit{
    color:#12f98a;
    font-weight: bold;
}

.tdLoss{
    color:#f91257;
    font-weight: bold;
}

.buttonMore{
    color:#ffff;
    background-color:#30beff;
    padding: 8px 24px;
    margin: 14px 0;
    border-radius: 8px;
}

@media  screen and (max-width: 600px ){
    table{
        border:0
    }

    table thead{
        border:none;
        clip: rect(0 0 0 0 );
        height: 1px;
        margin: -1px;
        overflow: hidden;
        position: absolute;
        width: 1px;
        padding: 0;
    }
    
    .tr{
        border-bottom: 1px solid #DDD;
        display: block;
        margin-bottom: 14px;
    }
    
    table td{
        display: block;
        border-bottom: 1px solid rgba(221, 221, 221, 0.170);
        text-align: right;
        font-size: 14px;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
    }

    td:last-child{
        border-bottom: 0;
    }

    td:first-child,
    th:first-child{
        border-radius: 0;
    }

    td:last-child,
    th:last-child{
        border-radius: 0;
    }

}